<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoDream | Leaderboard ✨</title>
    <link rel="stylesheet" href="../assets/styles/style.css">
</head>

<body>
    <header class="nav">
        <a href="#" class="logo">CryptoDream</a>
        <nav>
            <a href="#">Tasks</a>
            <a href="#">Leaderboard</a>
        </nav>
        <button>Claim airdrop</button>
    </header>
    <section class="container leaderboardpage">
        <h1>Leaderboard</h1>
        <p>CryptoDream Cosmonauts will be airdropped 10% of $ZERO's circulating supply on launch based on accumulated
            points</p>
        <div class="leaderboardTable">
            <div class="leadnav">
                <h2>Leaderboard</h2>
                <a href="#/views/leaderboard.html">View leaderboard &rightarrow;</a>
            </div>

            <div class="wrapper">
                <div class="header">
                    <h5>RANK</h5>
                    <h5>ADDRESS</h5>
                    <h5>REFERRAL POINTS</h5>
                    <h5>TOTAL POINTS</h5>
                </div>
                <div class="itemWrapper">
                    <!-- ///////////////////////////////////////////////////// -->
                    <div class="items">
                        <span class="counterItem"></span>
                        <span>0x4E...732f</span>
                        <span>53,145,114</span>
                        <span>830,040,868</span>
                    </div>
                    <div class="items">
                        <span class="counterItem"></span>
                        <span>0x4E...732f</span>
                        <span>53,145,114</span>
                        <span>830,040,868</span>
                    </div>
                    <div class="items">
                        <span class="counterItem"></span>
                        <span>0x4E...732f</span>
                        <span>53,145,114</span>
                        <span>830,040,868</span>
                    </div>
                    <div class="items">
                        <span class="counterItem"></span>
                        <span>0x4E...732f</span>
                        <span>53,145,114</span>
                        <span>830,040,868</span>
                    </div>
                    <div class="items">
                        <span class="counterItem"></span>
                        <span>0x4E...732f</span>
                        <span>53,145,114</span>
                        <span>830,040,868</span>
                    </div>
                    <div class="items">
                        <span class="counterItem"></span>
                        <span>0x4E...732f</span>
                        <span>53,145,114</span>
                        <span>830,040,868</span>
                    </div>
                    <div class="items">
                        <span class="counterItem"></span>
                        <span>0x4E...732f</span>
                        <span>53,145,114</span>
                        <span>830,040,868</span>
                    </div>
                    <div class="items">
                        <span class="counterItem"></span>
                        <span>0x4E...732f</span>
                        <span>53,145,114</span>
                        <span>830,040,868</span>
                    </div>
                    <div class="items">
                        <span class="counterItem"></span>
                        <span>0x4E...732f</span>
                        <span>53,145,114</span>
                        <span>830,040,868</span>
                    </div>
                    <div class="items">
                        <span class="counterItem"></span>
                        <span>0x4E...732f</span>
                        <span>53,145,114</span>
                        <span>830,040,868</span>
                    </div>
                    <div class="items">
                        <span class="counterItem"></span>
                        <span>0x4E...732f</span>
                        <span>53,145,114</span>
                        <span>830,040,868</span>
                    </div>
                    <div class="items">
                        <span class="counterItem"></span>
                        <span>0x4E...732f</span>
                        <span>53,145,114</span>
                        <span>830,040,868</span>
                    </div>
                    <div class="items">
                        <span class="counterItem"></span>
                        <span>0x4E...732f</span>
                        <span>53,145,114</span>
                        <span>830,040,868</span>
                    </div>
                    <div class="items">
                        <span class="counterItem"></span>
                        <span>0x4E...732f</span>
                        <span>53,145,114</span>
                        <span>830,040,868</span>
                    </div>
                    <div class="items">
                        <span class="counterItem"></span>
                        <span>0x4E...732f</span>
                        <span>53,145,114</span>
                        <span>830,040,868</span>
                    </div>
                    <div class="items">
                        <span class="counterItem"></span>
                        <span>0x4E...732f</span>
                        <span>53,145,114</span>
                        <span>830,040,868</span>
                    </div>
                    <!-- //////////////////////////////////////////////////// -->
                </div>
            </div>
        </div>
    </section>

    <div class="mobileToggle" id="mobileToggle">
        <a href="./leaderboard.html" id="leaderboard">Leaderboard</a>
        <a href="./task.html" id="quests" class="active">Quests</a>
    </div>
</body>

</html>