<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoDream | views ✨</title>
    <link rel="stylesheet" href="../assets/styles/style.css">
</head>

<body>
    <header class="nav">
        <a href="#" class="logo">CryptoDream</a>
        <nav>
            <a href="#">Tasks</a>
            <a href="#">Leaderboard</a>
        </nav>
        <button>Claim airdrop</button>
    </header>
    <main class="container">
        <div class="smallBanner">
            <h3>Available Points</h3>
            <p>0</p>
            <a href="#table"><span>Earn Points</span> <span style="font-size: 2rem; ">&rightarrow;</span></a>
        </div>
        <div class="smallBanner">
            <h3>Refer and earn points</h3>
            <p>Invite friends, and as they engage, both of you earn 20% bonus points. These points turn into $CryptoDream
                tokens. Expand your circle and amplify your earnings!</p>
            <a href="#"><span>Copy Link</span> <span style="font-size: 2rem; ">&rightarrow;</span></a>
            <img src="../assets/imgs/speaker.png" alt="speaker toy">
        </div>

        <div class="hintIntro">
            <h1>What is CryptoDream Gravity?</h1>
            <p>CryptoDream Gravity is an airdrop campaign to distribute the $CryptoDream drop. The greater your points total, the
                larger your $CryptoDream allocation.</p>
        </div>

        <div class="table" id="table">
            <div class="table_head">
                <h5>QUESTS</h5>
                <h5>POINTS</h5>
                <h5>STATUS</h5>
            </div>
            <div class="table_body">
                <!-- ////////////////////////////////////////////////////////// -->
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <p>Are you a $MANTA staker?</p>
                        <p><span>If you are a MANTA staker, you will receive a $CryptoDream airdrop based on $MANTA
                                staked</span><span>˅</span></p>
                    </div>
                    <div>
                        <p>5 PT per $MANTA Staked</p>
                    </div>
                    <div>
                        <button onclick="alert(433)" class="tblBtn">Claim airdrop</button>
                    </div>
                </div>
                <!-- ///////////////////////////////////////////////////////////// -->
            </div>
        </div>
    </main>

    <div class="mobileToggle" id="mobileToggle">
        <a href="./leaderboard.html" id="leaderboard">Leaderboard</a>
        <a href="./task.html" id="quests" class="active">Quests</a>
    </div>

    <script src="../assets/js/script.js"></script>
</body>

</html>